# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env
.venv/
env/
*.venv
*.env

# Logs and databases
logs/
*.log
*.sqlite3
db.sqlite3

# Ignore VS Code and PyCharm settings
.vscode/
.idea/

